body{
  overflow-x:hidden;
  overflow-y:hidden;
}

h1 {
  font-size: -webkit-xxx-large;
}

//Nav bar elements
  .navbar-nav.navbar-center.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-family: 'Merienda', cursive;
    font-weight: bold;
  }

  .nav-link {
    color: black;
    font-family: Century-Gothic, Arial;
    font-weight: bold;
  }
