.font-merienda {
  font-family: 'Merienda', cursive;
  font-size:60px;
}

.nav-link-white {
  display: block;
  padding: .5rem 1rem;
  color: white;
  font-family: Century-Gothic, Arial;
  font-weight: bold;
  text-decoration: none;
}

.login-reg-background-image {
  background-image: url('./logbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 56px);
  background-position: top;
}

.empty-background {
  text-align: left;
  padding: 30px;
  flex-direction: column;
  float: left;
  vertical-align: middle;
}