.welcome-text {
  text-align: left;
  justify-content: center;
  padding-top: 50px;
  font-family: 'Libre Caslon Text', serif;
}

.canvas-containter {
  height: 600px;
  width: 600px;
  margin: 40px;
}
