body{
  overflow-x:hidden;
  overflow-y:hidden;
};

h1 {
  font-size: -webkit-xxx-large;
};

//Nav bar elements
.navbar-nav navbar-center navbar-brand {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-family: 'Merienda', cursive;
  font-weight: bold;
};

.nav-link {
  color: black;
  font-family: Century-Gothic, Arial;
  font-weight: bold;
};

//Registration Styles
.font-merienda {
  font-family: 'Merienda', cursive;
  font-size: 60px;
};

.empty-background {
  text-align: left;
  padding: 30px;
  flex-direction: column;
  float: left;
  vertical-align: middle;
};

//Login Styles
.nav-link-white {
  display: block;
  padding: .5rem 1rem;
  color: white;
  font-family: Century-Gothic, Arial;
  font-weight: bold;
  text-decoration: none;
}

.login-reg-background-image {
  //background-image: url('../images/logbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 56px);
  background-position: top;
}